#**Data** **Types** **and** **Structures**

#1.Write a code to create a string with your name and print it

In [1]:
# Create a string with your name
my_name = "Tejasvi"

# Print the string
print("My name is:", my_name)

My name is: Tejasvi

#2. Write a code to find the length of the string "Hello World"

In [2]:
# Define the string
text = "Hello World"

# Find the length using len()
length = len(text)

# Print the result
print("Length of the string is:", length)

Length of the string is: 11

#3. Write a code to slice the first 3 characters from the string "Python Programming"

In [3]:
# Define the string
text = "Python Programming"

# Slice the first 3 characters
sliced = text[:3]

# Print the result
print("First 3 characters:", sliced)

First 3 characters: Pyt

#4. Write a code to convert the string "hello" to uppercase

In [4]:
# Define the string
text = "hello"

# Convert to uppercase
upper_text = text.upper()

# Print the result
print("Uppercase version:", upper_text)

Uppercase version: HELLO

#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [5]:
# Define the string
text = "I like apple"

# Replace 'apple' with 'orange'
new_text = text.replace("apple", "orange")

# Print the result
print("Updated string:", new_text)

Updated string: I like orange

#6. Write a code to create a list with numbers 1 to 5 and print it

In [6]:
# Create a list with numbers 1 to 5
numbers = [1, 2, 3, 4, 5]

# Print the list
print("List of numbers:", numbers)

List of numbers: [1, 2, 3, 4, 5]

#7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [7]:
# Define the list
numbers = [1, 2, 3, 4]

# Append 10 to the list
numbers.append(10)

# Print the updated list
print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [8]:
# Define the list
numbers = [1, 2, 3, 4, 5]

# Remove the number 3
numbers.remove(3)

# Print the updated list
print("Updated list:", numbers)

Updated list: [1, 2, 4, 5]

#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [9]:
# Define the list
letters = ['a', 'b', 'c', 'd']

# Access the second element (index 1)
second_element = letters[1]

# Print the second element
print("Second element:", second_element)

Second element: b

#10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [10]:
# Define the list
numbers = [10, 20, 30, 40, 50]

# Reverse the list
numbers.reverse()

# Print the reversed list
print("Reversed list:", numbers)

Reversed list: [50, 40, 30, 20, 10]

#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [11]:
# Create a tuple
my_tuple = (100, 200, 300)

# Print the tuple
print("My tuple:", my_tuple)

My tuple: (100, 200, 300)

#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [12]:
# Define the tuple
colors = ('red', 'green', 'blue', 'yellow')

# Access the second-to-last element using negative indexing
second_last = colors[-2]

# Print the result
print("Second-to-last element:", second_last)

Second-to-last element: blue

In [ ]:
#13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [13]:
# Define the tuple
numbers = (10, 20, 5, 15)

# Find the minimum number
min_number = min(numbers)

# Print the result
print("Minimum number:", min_number)

Minimum number: 5

In [ ]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [14]:
# Define the tuple
animals = ('dog', 'cat', 'rabbit')

# Find the index of "cat"
cat_index = animals.index("cat")

# Print the result
print("Index of 'cat':", cat_index)

Index of 'cat': 1

#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [15]:
# Create a tuple with fruits
fruits = ('apple', 'banana', 'orange')

# Check if 'kiwi' is in the tuple
if 'kiwi' in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is NOT in the tuple.")

Kiwi is NOT in the tuple.

#16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [16]:
# Create a set
my_set = {'a', 'b', 'c'}

# Print the set
print("My set:", my_set)

My set: {'a', 'c', 'b'}

#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [17]:
# Define the set
numbers = {1, 2, 3, 4, 5}

# Clear all elements from the set
numbers.clear()

# Print the result
print("Cleared set:", numbers)

Cleared set: set()

#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [18]:
# Define the set
numbers = {1, 2, 3, 4}

# Remove the element 4
numbers.remove(4)

# Print the updated set
print("Updated set:", numbers)

Updated set: {1, 2, 3}

#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [19]:
# Define the sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find the union
union_set = set1.union(set2)

# Print the result
print("Union of the sets:", union_set)

Union of the sets: {1, 2, 3, 4, 5}

#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [20]:
# Define the sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Find the intersection
intersection_set = set1.intersection(set2)

# Print the result
print("Intersection of the sets:", intersection_set)

Intersection of the sets: {2, 3}

#21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [22]:
# Create the dictionary
person = {
    "name": "Tejasvi",
    "age": 28,
    "city": "Bokaro"
}

# Print the dictionary
print("Person info:", person)

Person info: {'name': 'Tejasvi', 'age': 28, 'city': 'Bokaro'}

#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [23]:
# Define the dictionary
person = {'name': 'John', 'age': 25}

# Add new key-value pair
person['country'] = 'USA'

# Print the updated dictionary
print("Updated dictionary:", person)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [24]:
# Define the dictionary
person = {'name': 'Alice', 'age': 30}

# Access the value for key "name"
name_value = person['name']

# Print the result
print("Name:", name_value)

Name: Alice

#24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [25]:
# Define the dictionary
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Remove the key "age"
person.pop('age')

# Print the updated dictionary
print("Updated dictionary:", person)

Updated dictionary: {'name': 'Bob', 'city': 'New York'}

#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [26]:
# Define the dictionary
person = {'name': 'Alice', 'city': 'Paris'}

# Check if "city" key exists
if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does NOT exist in the dictionary.")

Key 'city' exists in the dictionary.

#26. Write a code to create a list, a tuple, and a dictionary, and print them all

In [27]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Create a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Create a dictionary
my_dict = {'name': 'John', 'age': 30, 'city': 'London'}

# Print them all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'John', 'age': 30, 'city': 'London'}

#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [28]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [3, 15, 37, 44, 82]

#28. Write a code to create a list with strings and print the element at the third index

In [29]:
# Create a list with strings
words = ["apple", "banana", "cherry", "date", "elderberry"]

# Print the element at the third index
print("Element at index 3:", words[3])

Element at index 3: date

#29. Write a code to combine two dictionaries into one and print the result

In [31]:
# Define two dictionaries
dict1 = {'name': 'tejasvi', 'age': 28}
dict2 = {'city': 'Ranchi', 'country': 'India'}

# Combine the dictionaries
combined_dict = {**dict1, **dict2}

# Print the result
print("Combined dictionary:", combined_dict)

Combined dictionary: {'name': 'tejasvi', 'age': 28, 'city': 'Ranchi', 'country': 'India'}

#30.Write a code to convert a list of strings into a set.

In [32]:
# Define a list of strings
string_list = ["apple", "banana", "apple", "cherry", "banana"]

# Convert the list to a set
string_set = set(string_list)

# Print the result
print("Set:", string_set)

Set: {'cherry', 'apple', 'banana'}